@import url('https://fonts.googleapis.com/css2?family=SUSE&display=swap');
.note-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: -15px;

}
.form-top{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-note-txt{
  font-family: "SUSE", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  color: #eb5e28;
  font-size: 2rem;
  margin: 1.5rem;
  font-weight: 700;
}
.note-form {
  height: 84vh;
  width: 70vw;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #ccc5b9;
  border-radius: 0.75rem;
  /* margin-right: 8rem; */

}
.note-label{
  font-family: "SUSE", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  color:#403d39;
  font-size: 1.25rem;
  font-weight: 800;
  padding-left: 8px;
  padding-top:2px ;
  
}
.title-con{
  height: 11vh !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-label{

  text-align: center;
  margin-top: 15px;
}
/* .note-lab{
  background-color: #252422;
  border-radius: 12px;
  width: 45vw;
  height: 27vh;
  margin-top: 12px !important;
} */

.note-input{
  outline: none;
  border: none;
  border-radius: 12px ;
  margin: 10px 0px;
  height: 6vh;
  width: 40%;
  background: #a8a8a7;
  color: white;
  padding: 5px 22px 4px 16px;
  font-size: 1.2rem;
  margin-bottom: -2px;
  margin-right: 1rem;
  overflow: hidden !important;
}
.disc-input{
  height: 47vh;
  width: 90vw;
  width: 68vw !important;
  margin: 1rem;
  margin-top: 5rem;
}

/* .tag-btn-con{
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42vw;
} */
/* .tag-con{
  margin: 12px 12px;
  height: 8vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

/* .tag-lab{
  font-family: "SUSE", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  color:yellow;
  background: #947eab;
  height: 6vh;
  width: 4vw;
  text-align: center;
  padding-top: 1px;
  border-radius: 20px;
  font-size: 1.5rem;
} */
/* .tag-input{
  outline: none;
  border: none;
  border-radius: 20px;
  height: 6vh;
  width: 20vw;
  background: #947eab;
  color: white;
  font-size: 1.5rem;
  padding-left: 7px;
} */
.add-btn{
  margin: 12px 12px;
}
::placeholder{
  color: #ebd9ff;
}

.add-btn{
  background: #eb5e28;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
  height: 6vh;
  width: 8vw;
}
.add-btn:hover{
  color: black;
  cursor: pointer;
}